@model IEnumerable<CMRPS_ProofOfConcept.Models.EventLogItem>

@{

}

@foreach (var e in Model)
{
    <div class="panel @(e.Success ? "panel-success": "panel-danger")">
        <div class="panel-heading">
            @e.Action
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <p><b>Time:</b> @e.Time</p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <p><b>Success:</b> @(e.Success ? "YES" : "No")
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p><b>Data:</b>
                    </p>
                    @foreach (string s in e.listOfData)
                    {
                        <div>@s.ToString()</div>
                    }
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <p><b>Exception:</b><br/> @e.Exception</p>
                </div>
            </div>
        </div>
    </div>
}